include mixins/panel
extend layout
block vars
  - var page = 'home'
block content
  +panel("Site information") Kieran's trading platform. View the trades that have been made and change the algorithm's parameters.